#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
config.js
.expo/devices.json
.expo/README.md
.expo/xcodebuild-error.log
.expo/xcodebuild.log
.expo/prebuild/cached-packages.json
.expo/web/cache/production/images/android-adaptive-foreground/android-adaptive-foreground-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-transparent/icon_108.png
.expo/web/cache/production/images/android-adaptive-foreground/android-adaptive-foreground-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-transparent/icon_162.png
.expo/web/cache/production/images/android-adaptive-foreground/android-adaptive-foreground-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-transparent/icon_216.png
.expo/web/cache/production/images/android-adaptive-foreground/android-adaptive-foreground-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-transparent/icon_324.png
.expo/web/cache/production/images/android-adaptive-foreground/android-adaptive-foreground-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-transparent/icon_432.png
.expo/web/cache/production/images/android-standard-circle/android-standard-circle-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_108.png
.expo/web/cache/production/images/android-standard-circle/android-standard-circle-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_162.png
.expo/web/cache/production/images/android-standard-circle/android-standard-circle-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_216.png
.expo/web/cache/production/images/android-standard-circle/android-standard-circle-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_324.png
.expo/web/cache/production/images/android-standard-circle/android-standard-circle-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_432.png
.expo/web/cache/production/images/android-standard-square/android-standard-square-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_108.png
.expo/web/cache/production/images/android-standard-square/android-standard-square-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_162.png
.expo/web/cache/production/images/android-standard-square/android-standard-square-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_216.png
.expo/web/cache/production/images/android-standard-square/android-standard-square-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_324.png
.expo/web/cache/production/images/android-standard-square/android-standard-square-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_432.png
.expo/web/cache/production/images/iconsuniversal-icon/iconsuniversal-icon-74c64047eb557b1341bba7a2831eedde9ddb705e6451a9ad9f5552bf558f13de-cover-#ffffff/App-Icon-1024x1024@1x.png
.expo/web/cache/production/images/splash-android/splash-android-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain/icon_undefined.png
.expo/web/cache/production/images/splash-ios/splash-ios-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain/icon_undefined.png
.vscode/settings.json
amplify/.DS_Store
amplify/cli.json
amplify/team-provider-info.json
amplify/.config/project-config.json
amplify/backend/backend-config.json
amplify/backend/tags.json
amplify/backend/auth/GymSeekr/cli-inputs.json
amplify/backend/types/amplify-dependent-resources-ref.d.ts
android/.gitignore
android/build.gradle
android/gradle.properties
android/gradlew
android/gradlew.bat
android/settings.gradle
android/app/build.gradle
android/app/debug.keystore
android/app/proguard-rules.pro
android/app/src/debug/AndroidManifest.xml
android/app/src/main/AndroidManifest.xml
android/app/src/main/java/com/anish_neema/PowerliftingApp/MainActivity.kt
android/app/src/main/java/com/anish_neema/PowerliftingApp/MainApplication.kt
android/app/src/main/res/drawable/rn_edit_text_material.xml
android/app/src/main/res/drawable/splashscreen.xml
android/app/src/main/res/drawable-hdpi/splashscreen_image.png
android/app/src/main/res/drawable-mdpi/splashscreen_image.png
android/app/src/main/res/drawable-xhdpi/splashscreen_image.png
android/app/src/main/res/drawable-xxhdpi/splashscreen_image.png
android/app/src/main/res/drawable-xxxhdpi/splashscreen_image.png
android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android/app/src/main/res/values/colors.xml
android/app/src/main/res/values/strings.xml
android/app/src/main/res/values/styles.xml
android/app/src/main/res/values-night/colors.xml
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties
ios/.gitignore
ios/.xcode.env
ios/Podfile
ios/Podfile.lock
ios/Podfile.properties.json
ios/PowerliftingApp/AppDelegate.h
ios/PowerliftingApp/AppDelegate.mm
ios/PowerliftingApp/Info.plist
ios/PowerliftingApp/main.m
ios/PowerliftingApp/noop-file.swift
ios/PowerliftingApp/PowerliftingApp-Bridging-Header.h
ios/PowerliftingApp/PowerliftingApp.entitlements
ios/PowerliftingApp/PrivacyInfo.xcprivacy
ios/PowerliftingApp/SplashScreen.storyboard
ios/PowerliftingApp/Images.xcassets/Contents.json
ios/PowerliftingApp/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
ios/PowerliftingApp/Images.xcassets/AppIcon.appiconset/Contents.json
ios/PowerliftingApp/Images.xcassets/SplashScreen.imageset/Contents.json
ios/PowerliftingApp/Images.xcassets/SplashScreen.imageset/image.png
ios/PowerliftingApp/Images.xcassets/SplashScreenBackground.imageset/Contents.json
ios/PowerliftingApp/Images.xcassets/SplashScreenBackground.imageset/image.png
ios/PowerliftingApp/Supporting/Expo.plist
ios/PowerliftingApp.xcodeproj/project.pbxproj
ios/PowerliftingApp.xcodeproj/xcshareddata/xcschemes/PowerliftingApp.xcscheme
ios/PowerliftingApp.xcworkspace/contents.xcworkspacedata
.DS_Store
.idea/.gitignore
.idea/GymSeekr.iml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
ios/build.backup/generated/ios/FBReactNativeSpecJSI-generated.cpp
ios/build.backup/generated/ios/FBReactNativeSpecJSI.h
ios/build.backup/generated/ios/RCTModulesConformingToProtocolsProvider.h
ios/build.backup/generated/ios/RCTModulesConformingToProtocolsProvider.mm
ios/build.backup/generated/ios/React-Codegen.podspec.json
ios/build.backup/generated/ios/rnasyncstorageJSI-generated.cpp
ios/build.backup/generated/ios/rnasyncstorageJSI.h
ios/build.backup/generated/ios/rngesturehandler_codegenJSI-generated.cpp
ios/build.backup/generated/ios/rngesturehandler_codegenJSI.h
ios/build.backup/generated/ios/rnreanimatedJSI-generated.cpp
ios/build.backup/generated/ios/rnreanimatedJSI.h
ios/build.backup/generated/ios/rnscreensJSI-generated.cpp
ios/build.backup/generated/ios/rnscreensJSI.h
ios/build.backup/generated/ios/safeareacontextJSI-generated.cpp
ios/build.backup/generated/ios/safeareacontextJSI.h
ios/build.backup/generated/ios/FBReactNativeSpec/FBReactNativeSpec-generated.mm
ios/build.backup/generated/ios/FBReactNativeSpec/FBReactNativeSpec.h
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/ComponentDescriptors.cpp
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/ComponentDescriptors.h
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/EventEmitters.cpp
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/EventEmitters.h
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/Props.cpp
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/Props.h
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/RCTComponentViewHelpers.h
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/ShadowNodes.cpp
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/ShadowNodes.h
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/States.cpp
ios/build.backup/generated/ios/react/renderer/components/rngesturehandler_codegen/States.h
ios/build.backup/generated/ios/react/renderer/components/rnscreens/ComponentDescriptors.cpp
ios/build.backup/generated/ios/react/renderer/components/rnscreens/ComponentDescriptors.h
ios/build.backup/generated/ios/react/renderer/components/rnscreens/EventEmitters.cpp
ios/build.backup/generated/ios/react/renderer/components/rnscreens/EventEmitters.h
ios/build.backup/generated/ios/react/renderer/components/rnscreens/Props.cpp
ios/build.backup/generated/ios/react/renderer/components/rnscreens/Props.h
ios/build.backup/generated/ios/react/renderer/components/rnscreens/RCTComponentViewHelpers.h
ios/build.backup/generated/ios/react/renderer/components/rnscreens/ShadowNodes.cpp
ios/build.backup/generated/ios/react/renderer/components/rnscreens/ShadowNodes.h
ios/build.backup/generated/ios/react/renderer/components/rnscreens/States.cpp
ios/build.backup/generated/ios/react/renderer/components/rnscreens/States.h
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/ComponentDescriptors.cpp
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/ComponentDescriptors.h
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/EventEmitters.cpp
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/EventEmitters.h
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/Props.cpp
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/Props.h
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/RCTComponentViewHelpers.h
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/ShadowNodes.cpp
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/ShadowNodes.h
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/States.cpp
ios/build.backup/generated/ios/react/renderer/components/safeareacontext/States.h
ios/build.backup/generated/ios/rnasyncstorage/rnasyncstorage-generated.mm
ios/build.backup/generated/ios/rnasyncstorage/rnasyncstorage.h
ios/build.backup/generated/ios/rngesturehandler_codegen/rngesturehandler_codegen-generated.mm
ios/build.backup/generated/ios/rngesturehandler_codegen/rngesturehandler_codegen.h
ios/build.backup/generated/ios/rnreanimated/rnreanimated-generated.mm
ios/build.backup/generated/ios/rnreanimated/rnreanimated.h
ios/build.backup/generated/ios/rnscreens/rnscreens-generated.mm
ios/build.backup/generated/ios/rnscreens/rnscreens.h
ios/build.backup/generated/ios/safeareacontext/safeareacontext-generated.mm
ios/build.backup/generated/ios/safeareacontext/safeareacontext.h
ios/build.backup.latest/generated/ios/FBReactNativeSpecJSI-generated.cpp
ios/build.backup.latest/generated/ios/FBReactNativeSpecJSI.h
ios/build.backup.latest/generated/ios/RCTModulesConformingToProtocolsProvider.h
ios/build.backup.latest/generated/ios/RCTModulesConformingToProtocolsProvider.mm
ios/build.backup.latest/generated/ios/React-Codegen.podspec.json
ios/build.backup.latest/generated/ios/rnasyncstorageJSI-generated.cpp
ios/build.backup.latest/generated/ios/rnasyncstorageJSI.h
ios/build.backup.latest/generated/ios/rngesturehandler_codegenJSI-generated.cpp
ios/build.backup.latest/generated/ios/rngesturehandler_codegenJSI.h
ios/build.backup.latest/generated/ios/rnreanimatedJSI-generated.cpp
ios/build.backup.latest/generated/ios/rnreanimatedJSI.h
ios/build.backup.latest/generated/ios/rnscreensJSI-generated.cpp
ios/build.backup.latest/generated/ios/rnscreensJSI.h
ios/build.backup.latest/generated/ios/safeareacontextJSI-generated.cpp
ios/build.backup.latest/generated/ios/safeareacontextJSI.h
ios/build.backup.latest/generated/ios/FBReactNativeSpec/FBReactNativeSpec-generated.mm
ios/build.backup.latest/generated/ios/FBReactNativeSpec/FBReactNativeSpec.h
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/ComponentDescriptors.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/ComponentDescriptors.h
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/EventEmitters.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/EventEmitters.h
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/Props.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/Props.h
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/RCTComponentViewHelpers.h
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/ShadowNodes.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/ShadowNodes.h
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/States.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/rngesturehandler_codegen/States.h
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/ComponentDescriptors.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/ComponentDescriptors.h
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/EventEmitters.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/EventEmitters.h
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/Props.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/Props.h
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/RCTComponentViewHelpers.h
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/ShadowNodes.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/ShadowNodes.h
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/States.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/rnscreens/States.h
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/ComponentDescriptors.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/ComponentDescriptors.h
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/EventEmitters.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/EventEmitters.h
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/Props.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/Props.h
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/RCTComponentViewHelpers.h
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/ShadowNodes.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/ShadowNodes.h
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/States.cpp
ios/build.backup.latest/generated/ios/react/renderer/components/safeareacontext/States.h
ios/build.backup.latest/generated/ios/rnasyncstorage/rnasyncstorage-generated.mm
ios/build.backup.latest/generated/ios/rnasyncstorage/rnasyncstorage.h
ios/build.backup.latest/generated/ios/rngesturehandler_codegen/rngesturehandler_codegen-generated.mm
ios/build.backup.latest/generated/ios/rngesturehandler_codegen/rngesturehandler_codegen.h
ios/build.backup.latest/generated/ios/rnreanimated/rnreanimated-generated.mm
ios/build.backup.latest/generated/ios/rnreanimated/rnreanimated.h
ios/build.backup.latest/generated/ios/rnscreens/rnscreens-generated.mm
ios/build.backup.latest/generated/ios/rnscreens/rnscreens.h
ios/build.backup.latest/generated/ios/safeareacontext/safeareacontext-generated.mm
ios/build.backup.latest/generated/ios/safeareacontext/safeareacontext.h
ios/PowerliftingApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
