#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
#aws-exports.js
awsconfiguration.json
#amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
#config.js
.expo/devices.json
.expo/README.md
.expo/xcodebuild-error.log
.expo/xcodebuild.log
.expo/prebuild/cached-packages.json
.expo/web/cache/production/images/android-adaptive-foreground/android-adaptive-foreground-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-transparent/icon_108.png
.expo/web/cache/production/images/android-adaptive-foreground/android-adaptive-foreground-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-transparent/icon_162.png
.expo/web/cache/production/images/android-adaptive-foreground/android-adaptive-foreground-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-transparent/icon_216.png
.expo/web/cache/production/images/android-adaptive-foreground/android-adaptive-foreground-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-transparent/icon_324.png
.expo/web/cache/production/images/android-adaptive-foreground/android-adaptive-foreground-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-transparent/icon_432.png
.expo/web/cache/production/images/android-standard-circle/android-standard-circle-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_108.png
.expo/web/cache/production/images/android-standard-circle/android-standard-circle-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_162.png
.expo/web/cache/production/images/android-standard-circle/android-standard-circle-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_216.png
.expo/web/cache/production/images/android-standard-circle/android-standard-circle-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_324.png
.expo/web/cache/production/images/android-standard-circle/android-standard-circle-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_432.png
.expo/web/cache/production/images/android-standard-square/android-standard-square-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_108.png
.expo/web/cache/production/images/android-standard-square/android-standard-square-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_162.png
.expo/web/cache/production/images/android-standard-square/android-standard-square-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_216.png
.expo/web/cache/production/images/android-standard-square/android-standard-square-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_324.png
.expo/web/cache/production/images/android-standard-square/android-standard-square-5f4c0a732b6325bf4071d9124d2ae67e037cb24fcc9c482ef82bea742109a3b8-cover-#ffffff/icon_432.png
.expo/web/cache/production/images/iconsuniversal-icon/iconsuniversal-icon-74c64047eb557b1341bba7a2831eedde9ddb705e6451a9ad9f5552bf558f13de-cover-#ffffff/App-Icon-1024x1024@1x.png
.expo/web/cache/production/images/splash-android/splash-android-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain/icon_undefined.png
.expo/web/cache/production/images/splash-ios/splash-ios-bc25a616b4e31cf7300cd97b9cbf8894e855e6373aa797d0badd7e211111c5e5-contain/icon_undefined.png
.vscode/settings.json
amplify/.DS_Store
amplify/cli.json
amplify/team-provider-info.json
amplify/.config/project-config.json
amplify/backend/backend-config.json
amplify/backend/tags.json
amplify/backend/auth/GymSeekr/cli-inputs.json
amplify/backend/types/amplify-dependent-resources-ref.d.ts
android/.gitignore
android/build.gradle
android/gradle.properties
android/gradlew
android/gradlew.bat
android/settings.gradle
android/app/build.gradle
android/app/debug.keystore
android/app/proguard-rules.pro
android/app/src/debug/AndroidManifest.xml
android/app/src/main/AndroidManifest.xml
android/app/src/main/res/drawable/rn_edit_text_material.xml
android/app/src/main/res/drawable/splashscreen.xml
android/app/src/main/res/drawable-hdpi/splashscreen_image.png
android/app/src/main/res/drawable-mdpi/splashscreen_image.png
android/app/src/main/res/drawable-xhdpi/splashscreen_image.png
android/app/src/main/res/drawable-xxhdpi/splashscreen_image.png
android/app/src/main/res/drawable-xxxhdpi/splashscreen_image.png
android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android/app/src/main/res/values/colors.xml
android/app/src/main/res/values/strings.xml
android/app/src/main/res/values/styles.xml
android/app/src/main/res/values-night/colors.xml
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties
ios/.gitignore
ios/.xcode.env
ios/Podfile
ios/Podfile.lock
ios/Podfile.properties.json

.DS_Store
.idea/.gitignore
.idea/GymSeekr.iml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml


ios/GymSeekr/AppDelegate.h
ios/GymSeekr/AppDelegate.mm
ios/GymSeekr/GymSeekr-Bridging-Header.h
ios/GymSeekr/GymSeekr.entitlements
ios/GymSeekr/Info.plist
ios/GymSeekr/main.m
ios/GymSeekr/noop-file.swift
ios/GymSeekr/PrivacyInfo.xcprivacy
ios/GymSeekr/SplashScreen.storyboard
ios/GymSeekr/Images.xcassets/Contents.json
ios/GymSeekr/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
ios/GymSeekr/Images.xcassets/AppIcon.appiconset/Contents.json
ios/GymSeekr/Images.xcassets/SplashScreen.imageset/Contents.json
ios/GymSeekr/Images.xcassets/SplashScreen.imageset/image.png
ios/GymSeekr/Images.xcassets/SplashScreenBackground.imageset/Contents.json
ios/GymSeekr/Images.xcassets/SplashScreenBackground.imageset/image.png
ios/GymSeekr/Supporting/Expo.plist
ios/GymSeekr.xcodeproj/project.pbxproj
ios/GymSeekr.xcodeproj/xcshareddata/xcschemes/GymSeekr.xcscheme
ios/GymSeekr.xcworkspace/contents.xcworkspacedata
ios/GymSeekr.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.expo/web/cache/production/images/iconsuniversal-icon/iconsuniversal-icon-788bb71c6d2373b17972fe8a2c1f01adfd725b0d19fb3311226b6fa30f3c2c96-cover-#ffffff/App-Icon-1024x1024@1x.png
.expo/web/cache/production/images/splash-android/splash-android-04bce08a7f7ad67883e9a510b9f20369f6096ecf2444184db327a96d291603b1-contain/icon_undefined.png
.expo/web/cache/production/images/splash-ios/splash-ios-04bce08a7f7ad67883e9a510b9f20369f6096ecf2444184db327a96d291603b1-contain/icon_undefined.png
android/app/src/main/java/com/anish_neema/GymSeekr/MainActivity.kt
android/app/src/main/java/com/anish_neema/GymSeekr/MainApplication.kt
